@import URL("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans:300,400,600,700,800&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCFDFF;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 4em;
  font-weight: light;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
